@media (min-width: 768px) and (max-width: 991px) {
  a.show-share {
    width: 18px;
    overflow: hidden;
    height: 11px;
    position: relative;
    color: transparent;
    display: inline-block;

    &::after {
      position: absolute;
      top: 2px;
      left: 0;
      color: $link-colour;
      &:hover {
        color: $link-colour-hover;
      }
    }
  }
}