// Node type Media page style override
.node{
  &.node-media{
    &.view-mode-full{
      .date-bar-above-body{

        font-weight: 700;
        font-size: 15px;

        .media-post-date-wrapper{
          display: inline-block;
          vertical-align: middle;
        }
        .service-links{
          position: relative;
          right: auto;
          float: right;
          display: inline-block;

          li{
            &>a{
              overflow: visible;
              &:after{
                top: -1px;
              }
            }
          }
        }

        &:after{
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
      }
    }
  }
}

