.view-media-tiles {
  margin-top: 1em;
}

.views-exposed-widgets {
  margin: 0;
}

.views-exposed-form {
  overflow: hidden;
  max-height: 51px;
.views-exposed-widget {
  display: inline-block;
  width: 100%;
  padding: 0;
}
}

#filter {
.views-widget {
  display: inline-block;
  width: 80%;
}
.form-type-bef-checkbox {
  display: inline-block;
  margin: 0;
  padding: 0px;
}
}

#edit-channel-wrapper {
> label {
  float: left;
  padding: 13px 5px 13px 10px;
  font-weight: bold;
}
.views-widget label {
  display: inline-block;
  margin: 0;
  padding: 16px 10px 10px 10px;
  color: #3f3f40;
  border-bottom: 7px solid transparent;
}
input {
&:hover + label {
   cursor: pointer;
   border-bottom: 7px solid #3f3f40;
 }
&[type="checkbox"] {
   /*display:none;*/
   width: 0;
   height: 0;
   opacity: 0;
 }
}
}

.highlight label {
  border-bottom: 7px solid #3f3f40;
}

#filter .views-row {
  background-color: #fff;
}

#edit-channel-wrapper .views-widget label:before {
  font-style: normal;
  font-weight: 900;
  text-decoration: inherit;
  font-size: 15px;
  padding-right: 0.5em;
}

.views-field-field-minister-first-name .icon:before {
  font-style: normal;
  font-weight: 900;
  text-decoration: inherit;
  font-size: 15px;
  padding-right: 0.5em;
  font-size: 0.9em;
  vertical-align: text-top;
  padding-right: 8px;
  padding-left: 3px;
}

#edit-channel-wrapper {
.highlight label {
  border-bottom: 7px solid #3f3f40;
}
.highlight-hf label {
  border-bottom: 7px solid #818181;
}
}

.view-media-tiles {
.item-list {
  display: none;
}
.spacing {
  letter-spacing: 1px;
}
}

.width100 {
  width: 100% !important;
}

.views-widget-filter-field_media_channel_tid > label {
  position: relative;
  top: 3px;
}

a#edit-channel-all {
  color: #000;
  display: inline-block;
&:hover label {
   cursor: pointer;
   border-bottom: 7px solid #3f3f40;
 }
}

.list-tile {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 1;
a {
  display: inline-block;
  font-size: 0;
  padding: 14px 10px 0px 5px;
  text-decoration: none;
  color: #ccc;
&.active {
   color: #3f3f40;
 }
&:hover {
   color: #666868;
 }
}
}

.list-icon:after {
  font-family: Font Awesome\ 5 Free;
  content: "\f0ca";
  font-weight: bold;
  font-size: 18px;
}

.tile-icon:after {
  font-family: Font Awesome\ 5 Free;
  content: "\f00a";
  font-weight: bold;
  font-size: 18px;
}

.view-media-tiles {
.views-row {
  float: left;
  display: inline-block;
  padding: 0 0 3em 0 !important;
  margin: 0.5% 0.65% !important;
  width: 32%;
  word-wrap: break-word;
  background-color: #fff;
  overflow: hidden;
a {
  text-decoration: none;
&:hover, &:focus {
            text-decoration: underline;
            text-underline-position: under;
          }
}
}
img {
  display: inline-block;
}
.views-field-title {
  font-weight: bold;
  padding: 1em 1em 0 1em;
  display: inline-block;
}
.Facebook .views-field-title, .Twitter .views-field-title {
  display: none;
}
.views-field-title a {
  color: #2c3c8a;
  padding-top: 0.5em;
  display: inline-block;
&:visited {
   color: #2c3c8a;
   padding-top: 0.5em;
   display: inline-block;
 }
&:hover {
   color: #5f5f5f;
 }
}
.views-field-body {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.7em;
  padding: 1em;
a {
  word-break: break-word;
}
.image-anchor {
  min-height: 205px;
  display: inline-block;
}
}
.views-field-field-social-link {
  padding: 0 1em;
  font-weight: 600;
}
.views-field-field-minister-first-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 55%;
  padding: 11px 5px;
  display: inline-block;
  color: #fff;
  line-height: 1em;
  font-size: 0.9em;
  min-height: 35px;
a {
  color: #fff;
  text-decoration: none;
&:hover, &:focus {
            text-decoration: underline;
            text-underline-position: under;
          }
}
}
.views-field-created {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 45%;
  padding: 11px 5px;
  display: inline-block;
  text-align: right;
  border-top: 1px solid #cfd0d1;
  line-height: 1em;
  font-size: 0.85em;
  min-height: 35px;
}
}

/* Media Tiles */

.show-share {
  text-decoration: none;
&:hover, &:focus {
            text-decoration: underline;
          }
&:after {
   font-family: Font Awesome\ 5 Free;
   content: "\f064";
   padding-left: 6px;
   font-weight: bold;
 }
}

/* Feature Tile */

.view-media-tiles .Feature {
  position: relative;
  color: #fff;
  padding: 0 !important;
img {
  width: 100%;
  display: block !important;
}
.views-field-title, .views-field-body {
  display: none !important;
}
.views-field-field-feature-text {
  position: absolute;
  bottom: 63px;
  right: 20px;
  font-size: 175%;
  text-align: right;
  line-height: 1.2em;
p {
  margin: 0.7em 0 !important;
}
}
.views-field-field-minister-first-name, .views-field-created, .views-field-nothing {
  display: none !important;
}
.views-field-field-link-to {
  position: absolute;
  bottom: 25px;
  right: 1.5em;
  text-align: right;
a {
  font-size: 1.4em;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  text-decoration: none;
&:hover {
   background-color: #fff;
   color: #1a304e !important;
 }
}
}
}

.Feature .views-field-field-link-to a:focus {
  background-color: #fff;
  color: #1a304e !important;
}

/* Service Links */

.view-media-tiles .views-field-nothing {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #fff;
  width: 45%;
  text-align: right;
  padding: 5px 5px 4px 0;
  border-top: 1px solid #cfd0d1;
  line-height: 1em;
  font-size: 0.85em;
  min-height: 35px;
ul.links {
  float: right;
  margin: 0;
}
.links li {
  display: inline-block;
  padding: 6px 5px 5px 5px;
}
}

.hide-share {
  float: right;
  text-decoration: none;
  padding-left: 4px;
  font-size: 0pt;
&:after {
   font-family: Font Awesome\ 5 Free;
   content: "\f057";
   font-size: 12px;
   padding-top: 7px;
   padding-left: 2px;
   display: inline-block;
   vertical-align: text-bottom;
   font-weight: bold;
 }
}

.view-media-tiles .views-field-nothing .links li a {
&:hover img, &:focus img {
                transform: scale(1.1);
              }
}

@media only screen and (max-width: 920px) {
  #filter .views-widget, .bef-checkboxes {
    clear: both;
    width: 100%;
    text-align: center;
  }
  .views-exposed-form {
    overflow: visible;
    max-height: none;
  }
  #filter .views-widget {
  .form-type-bef-checkbox {
    width: 24.4%;
    text-align: center;
    border: 1px solid #999;
    margin: 2px 0;
  }
  #edit-channel-all.form-type-bef-checkbox {
    margin-right: 3px;
  label {
    padding: 17px 10px 10px 10px;
  }
}
}
.view-media-tiles .views-field-created {
  letter-spacing: -0.05em;
}
}

@media only screen and (max-width: 768px) {
  #filter {
    border: none;
  }
  .views-exposed-widget {
    width: 100%;
  }
  #filter .views-widget {
    width: 100%;
  .form-type-bef-checkbox {
    width: 32.4%;
  }
}
#edit-channel-wrapper {
.highlight label {
  background-color: #1a304e;
  color: #fff;
}
.views-widget {
.highlight label:before {
  background-color: #1a304e;
  color: #fff;
}
label {
  padding: 14px 0 7px;
  width: 100%;
}
#edit-channel-all.form-type-bef-checkbox label {
  padding: 15px 0 7px;
}
}
}
.view-media-tiles {
.views-row {
  width: 99% !important;
}
.views-field-body {
  min-height: auto;
}
.views-field-field-minister-first-name, .views-field-created, .views-field-nothing {
  letter-spacing: 0em;
  width: 50%;
}
.Feature {
img {
  width: 100%;
}
.views-field-title {
  font-size: 230%;
  top: 63%;
}
.views-field-body {
  font-size: 180%;
  top: 70%;
}
}
}
}

@media only screen and (max-width: 468px) {
  #filter .views-widget .form-type-bef-checkbox {
    width: 49%;
  }
  .view-media-tiles .views-row {
    margin-bottom: 1em !important;
  }
}