.view-search-media {

  .pageTitle {
    display: block;
  }
  margin-top: 1em;
  padding-top: 1em;
  h1 {
    width: 100%;
    font-size: 2em;
    margin-top: 3px;
  }

  .search_results {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  .view-empty {
    min-height: 100px;
  }

  .view-filters {
    .views-exposed-widgets {
      margin: 0;
    }
    .views-exposed-form {
      overflow: hidden;
      max-height: 43px;
      .views-exposed-widget {
        display: inline-block;
        padding: 0;
      }
    }
    .views-widget {
      display: inline-block;
    }
    .form-type-bef-checkbox {
      display: inline-block;
      margin: 0;
      padding: 0px;
    }
    .views-exposed-widgets {
      > label {
        float: left;
        padding: 13px 5px 13px 10px;
        font-weight: bold;
      }
      label {
        display: inline-block;
        margin: 0;
        padding: 13px 7px 7px 7px;
        color: #666868;
        border-bottom: 5px solid transparent;
      }
      input {
        &:hover + label {
          cursor: pointer;
          border-bottom: 5px solid #1a304e;
        }
        &[type="checkbox"] {
          display: none;
          width: 0;
          height: 0;
        }
      }
    }
  }

  #edit-year-filter-wrapper {
    margin-left: 1em;
    padding: 14px 0;
    label {
      margin: 0;
      padding: 0;
      border: none;
      vertical-align: top;
    }
  }

  .view-filters {
    .views-row {
      background-color: #fff;
    }
    .views-exposed-widgets label:before {
      font-style: normal;
      font-weight: 900;
      text-decoration: inherit;
      color: #666868;
      font-size: 15px;
      padding-right: 0.5em;
    }
  }

  .views-field-field-minister-first-name .icon:before {
    font-style: normal;
    font-weight: 900;
    text-decoration: inherit;
    color: #666868;
    font-size: 15px;
    padding-right: 0.5em;
  }

  .view-filters .views-exposed-widgets .highlight label, .highlight label {
    border-bottom: 5px solid #1a304e;
  }

  .form-item-edit-channel-all {
    margin-right: 3px !important;
  }

  /* View Row Styling */

  .views-row {
    position: relative;
    display: inline-block;
    padding: 0 0 1em 0 !important;
    margin: 0 0 1em 0 !important;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    a {
      color: #2c3c8a;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
        text-underline-position: under;
        color: #5f5f5f;
      }
    }
  }

  /* Media Tiles */

  .views-field.views-field-field-image {
    float: right;
    width: 25%;
  }

  .views-field-title {
    font-weight: bold;
    display: inline-block;
    padding: 0 0 1em 0;
    width: 100%;
    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 1.3em;
    }
  }
  .views-field-nothing-1 {
    display: inline-block;
    margin-bottom: 33px;
    background-color: #fff;
    width: 100%;
    min-height: 40px;
  }
  .views-field-field-minister-first-name {
    color: #74676a;
    font-size: 0.9em;
    .icon:after {
      font-size: 0.9em;
      font-weight: bold;
      vertical-align: baseline;
      padding-left: 5px;
    }
  }
  .views-field-field-social-link-1 {
    padding: 1em 0 0 0;
  }

  @media only screen and (max-width: 768px) {
    #filter {
      border: none;
    }
    .view-filters {
      .views-exposed-form {
        overflow: visible;
        max-height: none;
      }
      .views-exposed-widget {
        width: 100%;
      }
    }
    #filter .views-widget {
      width: 100%;
    }
    .view-filters {
      .views-widget .form-type-bef-checkbox {
        width: 49.4%;
        text-align: center;
        border: 1px solid #999;
        margin: 2px 0;
      }
      .highlight label {
        background-color: #1a304e;
        color: #fff;
      }
      .views-widget {
        .highlight label:before {
          background-color: #1a304e;
          color: #fff;
        }
        label {
          padding: 14px 0 7px;
          width: 100%;
        }
      }
    }
    #edit-year-filter-wrapper {
      position: absolute;
      top: 0px;
      left: 45%;
      max-width: 110px;
      label {
        float: left;
      }
      .views-widget {
        float: left;
        width: auto;
        padding-top: 0px;
      }
    }
    .views-row {
      width: 99% !important;
    }
  }
}