.view-media-tiles {
  &.view-display-id-page_list {

    /* Filters */
    margin-top: 1em;
    h2 {
      margin: 0 0 0.5em 0;
      padding: 0.5em 5px;
      width: 100%;
      font-size: 2em;
      border-bottom: 1px solid #d8d8d8;
    }
    .spacing {
      letter-spacing: 1px;
    }
    .views-field-body {
      padding-bottom: 12px;
    }

    .view-filters {
      .views-exposed-widgets {
        margin: 0;
      }
      .views-exposed-form {
        overflow: hidden;
        max-height: 51px;
        .views-exposed-widget {
          display: inline-block;
          padding: 0;
        }
      }
      .views-widget {
        display: inline-block;
      }
      .form-type-bef-checkbox {
        display: inline-block;
        margin: 0;
        padding: 0px;
      }
      .views-exposed-widgets {
        label {
          display: inline-block;
          margin: 0;
          padding: 16px 6px 10px 6px;
          color: #3f3f40;
          border-bottom: 7px solid transparent;
        }
        > label {
          float: left;
          padding: 13px 5px 13px 10px;
          font-weight: bold;
        }
        input {
          &:hover + label {
            cursor: pointer;
            border-bottom: 7px solid #3f3f40;
          }
          &[type="checkbox"] {
            display: none;
            width: 0;
            height: 0;
          }
        }
      }
    }
    #edit-year-filter-wrapper {
      margin-left: 1em;
      padding-top: 2px;
      .views-widget {
        padding: 1px 0 0 2px;
        select {
          padding-top: 0px;
          font-size: 1em;
        }
      }
    }
    .width100 {
      width: 100% !important;
    }
    .view-filters {
      .views-row {
        background-color: #fff;
      }
      .views-exposed-widgets label:before {
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
        font-size: 15px;
        padding-right: 0.5em;
      }
    }
    .views-field-field-minister-first-name .icon:before {
      font-style: normal;
      font-weight: 900;
      text-decoration: inherit;
      font-size: 15px;
      padding-right: 0.5em;
    }
    .view-filters .views-exposed-widgets .highlight label, .highlight label {
      border-bottom: 7px solid #3f3f40;
    }
    .form-item-edit-channel-all {
      margin-right: 3px !important;
    }
    .views-widget-filter-field_media_channel_tid > label {
      position: relative;
      top: -1px;
    }
    a#edit-channel-all {
      color: #000;
      display: inline-block;
      &:hover label {
        cursor: pointer;
        border-bottom: 7px solid #3f3f40;
      }
    }
    /* List + Grid Icons */

    .list-tile {
      position: absolute;
      top: 2px;
      right: 0;
      z-index: 1;
      a {
        display: inline-block;
        font-size: 0;
        padding: 14px 10px 0px 5px;
        text-decoration: none;
        color: #ccc;
        &.active {
          color: #3f3f40;
        }
        &:hover {
          color: #666868;
        }
      }
    }
    .list-icon:after {
      font-family: Font Awesome\ 5 Free;
      content: "\f0ca";
      font-weight: bold;
      font-size: 18px;
    }
    .tile-icon:after {
      font-family: Font Awesome\ 5 Free;
      content: "\f00a";
      font-weight: bold;
      font-size: 18px;
    }
    /* View Row Styling */
    .views-row {
      position: relative;
      display: inline-block;
      padding: 0 5px !important;
      margin: 0 0 1em 0 !important;
      width: 98.5%;
      word-wrap: break-word;
      overflow: hidden;
      border: none;
      background: white;
    }
    /* Media Tiles */

    .views-field.views-field-field-image {
      float: right;
      width: 25%;
    }

    .views-field-title {
      font-weight: bold;
      display: inline-block;
      padding: 1em 0 0 1em;
      width: 74%;
    }
    .Facebook .views-field-title, .Twitter .views-field-title {
      display: none;
    }
    .views-field-title a {
      color: #2c3c8a;
      text-decoration: none;
      &:hover {
        color: #5f5f5f;
        text-decoration: underline;
        text-underline-position: under;
      }
    }
    .views-field-nothing-1 {
      display: inline-block;
      background-color: #fff;
      width: 100%;
      img {
        float: right;
        padding: 1em;
        width: 20%;
      }
    }
    .views-field-body {
      clear: left;
      margin-bottom: 5em;
      line-height: 1.7em;
      p {
        margin: 0 !important;
        padding: 1em !important;
        padding-bottom: 0 !important;
      }
    }
    .viewpost {
      position: absolute;
      bottom: 40px;
      padding: 0 !important;
    }
    .views-field-body {
      a {
        word-break: break-word;
        padding: 0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
      .image-anchor {
        display: inline-block;
      }
      .viewpost {
        font-weight: 600;
      }
    }
    .views-field-field-minister-first-name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 19%;
      padding: 11px 5px 11px 10px;
      display: inline-block;
      color: #fff;
      line-height: 1em;
      font-size: 0.9em;
      min-height: 35px;
      .icon:before {
        font-size: 0.9em;
        vertical-align: text-top;
        padding-right: 8px;
        padding-left: 3px;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
    .views-field-created {
      position: absolute;
      bottom: 0;
      left: 19%;
      width: 15%;
      padding: 11px 5px;
      display: inline-block;
      text-align: right;
      line-height: 1em;
      font-size: 0.85em;
      background-color: #fff;
      border-top: 1px solid #cfd0d1;
      border-right: 1px solid #cfd0d1;
      min-height: 35px;
    }

    .show-share {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
        text-underline-position: under;
      }
      &:after {
        font-family: Font Awesome\ 5 Free;
        content: "\f064";
        padding-left: 6px;
        font-weight: bold;
      }
    }
    /* Service Links */

    .views-field-nothing {
      display: none;
      position: absolute;
      bottom: 0;
      left: 19%;
      width: 15%;
      background: #fff;
      text-align: right;
      padding: 5px 5px 4px 5px;
      line-height: 1em;
      font-size: 0.85em;
      border-top: 1px solid #cfd0d1;
      border-right: 1px solid #cfd0d1;
      min-height: 35px;
      ul.links {
        float: right;
        margin: 0;
      }
      .links li {
        display: inline-block;
        padding: 6px 5px 5px 5px;
      }
    }
    .hide-share {
      float: right;
      text-decoration: none;
      padding-left: 4px;
      &:after {
        font-family: Font Awesome\ 5 Free;
        content: "\f057";
        font-size: 12px;
        padding-top: 7px;
        padding-left: 5px;
        display: inline-block;
        vertical-align: text-bottom;
        font-weight: bold;
      }
    }
    .views-field-nothing .links li a {
      &:hover img, &:focus img {
        transform: scale(1.1);
      }
    }
    @media only screen and (max-width: 920px) {
      #filter .views-widget, .bef-checkboxes {
        clear: both;
        width: 100%;
        text-align: center;
      }
      .view-filters .views-exposed-form {
        overflow: visible;
        max-height: none;
      }
      #filter .views-widget {
        .form-type-bef-checkbox {
          width: 24.4%;
          text-align: center;
          border: 1px solid #999;
          margin: 2px 0;
        }
        #edit-channel-all.form-type-bef-checkbox {
          margin-right: 3px;
          label {
            padding: 17px 10px 10px 10px;
          }
        }
      }
      .views-field-created {
        width: 17%;
      }
    }
    @media only screen and (max-width: 768px) {
      #filter {
        border: none;
      }
      .view-filters .views-exposed-widget, #filter .views-widget {
        width: 100%;
      }
      .view-filters {
        .views-widget .form-type-bef-checkbox {
          width: 32.4%;
          text-align: center;
          border: 1px solid #999;
          margin: 2px 0;
        }
        .highlight label {
          background-color: #1a304e;
          color: #fff;
        }
        .views-widget {
          .highlight label:before {
            background-color: #1a304e;
            color: #fff;
          }
          label {
            padding: 14px 0 7px;
            width: 100%;
          }
        }
      }
      #edit-channel-wrapper .views-widget #edit-channel-all.form-type-bef-checkbox label {
        padding: 15px 0 7px;
      }
      #edit-year-filter-wrapper {
        position: absolute;
        top: 0px;
        left: 45%;
        max-width: 110px;
        label {
          float: none;
        }
        .views-widget {
          float: none;
          width: 60px;
          margin-left: -5px;
        }
      }
      .views-row {
        width: 99% !important;
      }
      .views-field-nothing-1 img {
        display: none;
      }
      .views-field-title, .views-field-body {
        min-height: auto;
        width: 100% !important;
        margin-bottom: 0;
      }
      .views-field-field-minister-first-name {
        width: 50%;
      }
      .views-field-created, .views-field-nothing {
        width: 50%;
        left: 50%;
      }
      .viewpost, .views-field-field-minister-first-name {
        position: relative;
        bottom: 0px;
      }
    }
    @media only screen and (max-width: 468px) {
      #filter .views-widget .form-type-bef-checkbox {
        width: 49%;
      }
    }
  }
}